<body>
	<app-nav (onSearchFieldChanged)="findMovie($event)" (onLoginModalVisibleChanged)="loginModalVisible=!loginModalVisible" id='nav'></app-nav>

	<router-outlet *ngIf="!searchText"></router-outlet>

	<section *ngIf="searchText" class="columns-3">
		<div *ngFor="let movie of cachedList">
			<app-movie-card [movie]="movie">
			</app-movie-card>
		</div>
	</section>

	<app-user-auth *ngIf="loginModalVisible" (onModalClose)="loginModalVisible=false" (onLoginStatusChanged)="loginStatusChanged()"></app-user-auth>
</body>
