<app-nav (onSearchFieldChanged)="findMovie($event)" (onLoginModalVisibleChanged)="loginModalVisible=!loginModalVisible">

</app-nav>
<!-- Intro Section -->
<section class="relative overflow-hidden mb-2" *ngIf="!searchText">
  <!-- The video -->
  <video autoplay muted loop class="w-full h-full object-cover absolute z-0">
    <source src="assets/video/hero.webm" type="video/webm">
  </video>

  <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

  <div class="w-full h-full absolute z-40">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>

  <div class="container mx-auto relative z-50">
    <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
      <h1 class="text-7xl font-bold uppercase mb-2">Share the magic of movies!"</h1>
      <p>
        Discover, rate, and share your favorite movies with the world! Our top-rated movie app provides easy search,
        actor information, and user-friendly tools to enhance your movie-watching experience.
        Start exploring today!
      </p>
    </div>
  </div>
</section>

<!-- Main Content -->
<section class="container mx-auto" *ngIf="!searchText">
  <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest</h1>

  <!-- Snoozeflix List -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          Intersteller Movie Review
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Christopher Nolan &#183;
          <span class="text-gray-400">2014</span>
        </p>

      </div>

    </a>
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          movie
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Who ever &#183;
          <span class="text-gray-400">2322</span>
        </p>

      </div>

    </a>
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          movie
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Sally &#183;
          <span class="text-gray-400">2012</span>
        </p>

      </div>

    </a>
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          Movie
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Bisquit &#183;
          <span class="text-gray-400">2020</span>
        </p>

      </div>

    </a>
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          movie
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Ramze &#183;
          <span class="text-gray-400">2020</span>
        </p>

      </div>

    </a>
    <a href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="#">

      <!-- Shape -->
      <div class="relative">
        <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2);">
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">

        <!-- Heading -->
        <h2 class="text-3xl mb-2">
          movie
        </h2>

        <!-- Name & Date -->
        <p class="mb-0">
          lolo &#183;
          <span class="text-gray-400">2020</span>
        </p>

      </div>

    </a>
  </div>
</section>

<section *ngIf="searchText" class="grid-cols-3 flex">
  <div *ngFor="let movie of cachedList" class="w-1/3">
    <app-movie-card [movie]="movie">
      
    </app-movie-card>
  </div>
</section>

<app-user-auth *ngIf="loginModalVisible" (onModalClose)="loginModalVisible=false">
  
</app-user-auth>